
*.dll
*.pdb
.vs/string2intChallenge/v16/.suo
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.dll
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.pdb
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.csproj.FileListAbsolute.txt
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.dll
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.pdb
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.deps.json
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.dll
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.exe
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.pdb
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.runtimeconfig.dev.json
string2intChallenge/bin/Debug/netcoreapp3.1/string2intChallenge.runtimeconfig.json
string2intChallenge/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.AssemblyInfo.cs
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.AssemblyInfoInputs.cache
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.assets.cache
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.csproj.CoreCompileInputs.cache
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.csproj.FileListAbsolute.txt
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.csprojAssemblyReference.cache
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.dll
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.exe
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.genruntimeconfig.cache
string2intChallenge/obj/Debug/netcoreapp3.1/string2intChallenge.pdb
string2intChallenge/obj/project.assets.json
string2intChallenge/obj/project.nuget.cache
string2intChallenge/obj/string2intChallenge.csproj.nuget.dgspec.json
string2intChallenge/obj/string2intChallenge.csproj.nuget.g.props
string2intChallenge/obj/string2intChallenge.csproj.nuget.g.targets
